.img-button {
	width: 200px;
	height: 200px;
	margin: 10px;
}

body {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: yellow;
	text-shadow: 5px 5px 10px #FF1493;
	background-image: url(../images/background.jpg);


}

#logo{
	padding: 50px;
	width: 600px;

}


#moonWrapper, #marsWrapper, #venusWrapper, #plutoWrapper{
	display: inline-block;
}

#moonHp, #marsHp, #venusHp, #plutoHp{
	text-align: center;
	background-color: deeppink;
	font-size: 20px;
	margin: 10px;
}


